#board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: -10px;
    max-width: 700px;
    min-width: 700px;
    background-color: rgb(250, 150, 150);
}

.card {
    display: inline-block;
    width: 40px;
    height: 60px;
    margin: 3px;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px #666;
    background-color: #fff;
}

.card:hover {
	opacity: 0.6;
}

.remove-card {
    display: inline-block;
    width: 40px;
    height: 60px;
    margin: 3px;
    padding: 3px;
    text-align: center;
    background-color: rgb(250, 150, 150);;
}

.disable-click-card {
    display: inline-block;
    width: 40px;
    height: 60px;
    margin: 3px;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px #666;
    background-color: #fff;
}

.pair-card {
    display: inline-block;
    width: 40px;
    height: 60px;
    margin-left: -30px;
    padding: 3px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 2px 5px #666;
    background-color: #fff;
}

.trump-back {
    width: 40px;
    height: 60px;
    background-color: #fc693b;
    background-image:
    repeating-linear-gradient(
    -45deg,
    #fff,
    #fff 3px,
    transparent 0,
    transparent 7px);
	cursor: pointer;
}

.play-status {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    padding: 10px;
    max-width: 700px;
    min-width: 700px;
    background-color: #fddfd0;
}

.player {
    display: inline-block;
    width: 350px;
}

.all-pair-card {
    display: block;
    width: 350px;
    margin-left: 30px;
    padding: 10px;
}